@font-face{
	font-family: delicious;
	src: url('fonts/Delicious-Italic.otf');
}
@font-face{
	font-family: ubuntu;
	src: url('fonts/Ubuntu.ttf');
}
.inline-child > * {
    display: inline-block;
    max-width: 50%;
}
.catcard {
    margin-bottom: 10px;
}
li.candli:hover {
    background: rgb(2, 117, 216);
    font-family:ubuntu;
    color: #fff !important;
}